<h2>Create Account</h2>

<%= form_with model: @user, url: signup_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit "Sign Up" %>
<% end %>

<p>
  <%= link_to "Already have an account? Login", login_path %>
</p>
