<h2>New Product</h2>

<%= form_with model: @product do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <%= f.submit "Create Product" %>
<% end %>
